# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Schema
*.mdj

# Airflow
logs
config
plugins
postgres-airflow-volume
postgres-db-volume

# Kaggle
.kaggle/kaggle.json

# Dataset
*.csv